<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main>
            <h1>Clientes Reparo</h1>
            <hr>

            <a th:href="@{/clientes/novo}" class ="btn btn-primary">novo</a>
            <table class="table">
               <thead>
                 <tr>
                    <th>Nome</th>
                    <th>Cpf</th>
                 </tr>
               </thead>
               <tbody>
                  <tr th:each="umCliente: ${listaClientes}">
                    <td th:text="${umCliente.nome}"></td>
                    <td th:text="${umCliente.cpf}"></td>
                  </tr>
                 
               </tbody>

            </table>
        </main>
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>